<% content_for :title, "Produtos" %>

<br />
<div class="row">
  <div class="column">
    <h1>Bazar de Viagem</h1>
    <p>
    Olá, se você chegou até aqui, provavelmente já sabe que eu e minha família estamos de mudança para
    Montreal no Canadá, e também sabe (ou está sabendo agora) que estou vendendo tudo, ou quase tudo antes
    da nossa mudança.
    </p>

    <p>
    Este site não proporciona nenhuma opção de checkout dos items, caso possua interesse em comprar qualquer
    coisa, entre em contato diretamente através do meu <a href="mailto:filipebarcos@gmail.com">email</a>, <a href="tel:085999257400">telefone</a> ou diretamente <a href="https://twitter.com/filipebarcos" target="_blank">no twitter</a>.
    </p>

    <p>
    Devido a alta procura pelos itens a venda e facilitar o controle, <strong>a reserva de itens só é feita mediante pagamento.</strong> Caso não possa retirar o item no mesmo dia, é só fazer o pagamento e deixamos o item separado até a retirada.
    </p>

    <p>
    Boas compras! ;)
    </p>
  </div>
</div>

<br />
<br />
<div class="row row-wrap">
  <% @products.each do |product| %>
    <div class="column column-33 product">
      <div class="row">
        <div class="column column-100">
          <%= image_tag(product.image.url) %>
        </div>
      </div>

      <div class="row">
        <div class="column column-50">
          <h5><%= product.title %></h5>
        </div>
        <div class="column column-50 product-price">
          <h5><%= formatted_price(product.price) %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
