<% content_for :title, @product.title %>

<br />
<div class="row">
  <div class="column">
    <h3><%= @product.title %></h3>
  </div>
</div>
<div class="row row-center">
  <div class="column">
    <%= image_tag(@product.image.url) %>
  </div>
</div>
<div class="row">
  <div class="column column-25">
    <h5><%= formatted_price(@product.price) %></h5>
  </div>
  <div class="column column-75 column-wrap">
    <p><%= @product.description %></p>
  </div>
</div>
