<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Canada Sale" %></title>
    <%= csrf_meta_tags %>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

    <%= stylesheet_link_tag "application", media: "all" %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <%= javascript_include_tag 'analytics', 'data-turbolinks-track': 'reload' %>
</html>
